<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

<table>
  <tr>
    <th><strong>投稿者:</strong></th>
    <td>  <%= @blog.name %></td>
  </tr>
  <tr>
    <th>タイトル:</th>
    <td><%= @blog.titile %></td>
  </tr>
  <tr>
    <th>内容:</th>
    <td> <%= @blog.body %></td>
  </tr>
</table>